.footer__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.footer__section {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .footer__link:not(:first-child) {
        padding-right: 24px;
        padding-top: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
}
